@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

html {
    -webkit-text-size-adjust: none;
}

body {
    -webkit-user-select: none;
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, sans-serif;
    font-size: 12px;
    color: #424242;
}

header, footer, nav, section, aside, figure, figcaption, article, audio, video {
    display: block;
}

input {
    outline: none;
}

ul, li {
    list-style: none;
}

a, a:hover, a:active, a:visited, a:target {
    text-decoration: none;
    color: #424242;
}

img {
    display: block;
    border: none;
}

.clear:after {
    display: block;
    height: 0;
    content: "";
    clear: both;
}

html{
    font-size: 100px;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*--AUDIO--*/
.audio {
    display: none;
    position: absolute;
    top: .2rem;
    right: .2rem;
    z-index: 100;
    width: .6rem;
    height: .6rem;
    background: url("../audioFile/music.svg") no-repeat;
    background-size: 100% 100%;
}

.audio .audioMp3 {
    display: none;
}

.audioMove {
    -webkit-animation: audioMove 1s linear infinite both;
    animation: audioMove 1s linear infinite both;
}

@-webkit-keyframes audioMove {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes audioMove {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*--ARROW--*/
.arrow {
    position: absolute;
    left: 50%;
    bottom: .2rem;
    z-index: 100;
    margin-left: -.24rem;
    width: .48rem;
    height: .36rem;
    background: url("../img/web-swipe-tip.png") no-repeat;
    background-size: 100% 100%;

    opacity: 1;
    -webkit-animation: arrowFlash 1s linear 0s infinite;
    animation: arrowFlash 1s linear 0s infinite;

    /*--当动画运动完成后可以停留在最后一帧的位置(必须加):animation是模拟的帧动画,我们虽然看见元素在运动,但是元素的位置是没有改变,当动画完成后,我们的元素还停留在开始的位置；“fill-mode: both”设置的就是动画结束停留在最后一帧的位置--*/
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/*--
    animation动画的运动轨迹和目标值需要在CSS中提前设定好,所以不能在JS中动态的设置轨迹信息和目标值,如果需要在JS中动态设置目标值的话,我们使用transition动画--*/
@-webkit-keyframes arrowFlash {
    0%, 100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        opacity: 0.1;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

@keyframes arrowFlash {
    0%, 100% {
        opacity: 1;
        /*--transform:CSS3的变形,我们如果需要给元素实现一些变形效果(translate位移、scale缩放、rotate旋转、skew倾斜...),建议使用它,因为它采用了浏览器的硬件加速,实现的动画性能会比普通样式改变的性能好--*/
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        /**/
        opacity: 0.1;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

/*--SWIPER--*/

.swiper-container {
    height: 100%;
}

.swiper-slide {
    position: relative;
    height: 100%;
}

.pageFir {
    background: url("../img/page1/backgroundPic.png") no-repeat;
    background-size: 100% 100%;
}

.pageTwo {
    background: url("../img/page1/backgroundPic.png") no-repeat;
    background-size: 100% 100%;
}
.pageThr {
    background: url("../img/page3/background01.png") no-repeat;
    background-size: 100% 100%;
}
.pageFou {
    background: url("../img/page4/background05.jpg") no-repeat;
    background-size: 100% 100%;
}


.pageFir img, .pageTwo img,.pageThr img,.pageFou img {
    position: absolute;
}
.pageFir span,.pageTwo span,.pageThr span,.pageFou span{
    position: absolute;
}
/*--第一页的样式--*/
.pageFir img:nth-child(1) {
    width: 3.18rem;
    height: 3.18rem;
    top:1.3rem;
    left: 50%;
    margin-left: -1.59rem;
}

.pageFir img:nth-child(2) {
    width: 3.5rem;
    height: 3.5rem;
    left: 50%;
    top: 1.13rem;
    margin-left: -1.75rem;
}

.pageFir img:nth-child(3) {
    top: 4.78rem;
    left: 50%;
    margin-left: -2rem;
    width: 4rem;
    height: 4rem;
}

.pageFir img:nth-child(4) {
    z-index: 88;
    left: 50%;
    margin-left: -2.13rem;
    top: 9rem;
    width: 4.16rem;
    height: .7rem;
}
.pageFir img:nth-child(5){
    z-index: 99;
    width: .34rem;
    height: .28rem;
    top: 9.21rem;
    left: 2rem;
}
.pageFir img:nth-child(6){
    z-index: 99;
    width: .34rem;
    height: .28rem;
    top: 9.21rem;
    left: 4rem;
}
.pageFir span{
    z-index: 99;
    font-size: .24rem;
    font-weight: 600;
    height: .3rem;
    top: 9.18rem;
    left: 2.55rem;
}
#page1 img:nth-child(1) {
    -webkit-animation: flipInY 1s both;
    animation: flipInY 1s both;
}

#page1 img:nth-child(2) {
    -webkit-animation: audioMove 4s  infinite;
    animation: audioMove 4s  infinite;
}

#page1 img:nth-child(3) {
    -webkit-animation: flipInY 2s both;
    animation: flipInY 2s both;
}

#page1 img:nth-child(4) {
    -webkit-animation: zoomIn 1s both;
    animation: zoomIn 1s both;
}
#page1 img:nth-child(5) {
    -webkit-animation: zoomIn 1s .2s both;
    animation: zoomIn 1s .2s both;
}
#page1 img:nth-child(6) {
    -webkit-animation: zoomIn 1s .2s both;
    animation: zoomIn 1s .2s both;
}

/*--第二页的样式--*/
.pageTwo img {
    top: 2.5rem;
    width: .61rem;
    height: 6.38rem;
}

.pageTwo img:nth-child(1) {
    top:1.46rem;
    left: 50%;
    margin-left: -.86rem;
    width: 1.72rem;
    height: 1.72rem;
}

.pageTwo img:nth-child(2) {
    top:1.16rem;
    left: 50%;
    margin-left: -1.18rem;
    width: 2.36rem;
    height: 2.36rem;
}

.pageTwo img:nth-child(3) {
    width: 1.8rem;
    height: .26rem;
    top:2.2rem;
}

.pageTwo img:nth-child(4) {
    width: 1.8rem;
    height: .26rem;
    top:2.2rem;
    right: 0;
}
.pageTwo img:nth-child(5){
    width: 1.4rem;
    height: .56rem;
    top: 2rem;
    left: 50%;
    margin-left: -.7rem;
}
.pageTwo img:nth-child(6){
    width: .7rem;
    height: .46rem;
    top: 4rem;
    left: 1.5rem
}
.pageTwo img:nth-child(7){
    width: .3rem;
    height: .38rem;
    top: 4rem;
    left: 2.7rem;
}
.pageTwo img:nth-child(8){
    width: 1.72rem;
    height: .66rem;
    top: 3.85rem;
    left: 3.5rem;
}
.pageTwo img:nth-child(9){
    width:6.4rem;
    height: .16rem;
    top: 4.8rem;
}
/*02*/
.pageTwo img:nth-child(10){
    width: .7rem;
    height: .46rem;
    top: 5.2rem;
    left: 4rem
}
.pageTwo img:nth-child(11){
    width: .3rem;
    height: .38rem;
    top: 5.2rem;
    left: 3.5rem;
}
.pageTwo img:nth-child(12){
    width: 1.72rem;
    height: .66rem;
    top: 5.1rem;
    left: 1.4rem;
}
.pageTwo img:nth-child(13){
    width:6.4rem;
    height: .16rem;
    top: 6.06rem;
}
/*03*/
.pageTwo img:nth-child(14){
    width: .7rem;
    height: .46rem;
    top: 6.6rem;
    left: 1.5rem
}
.pageTwo img:nth-child(15){
    width: .3rem;
    height: .38rem;
    top: 6.6rem;
    left: 2.7rem;
}
.pageTwo img:nth-child(16){
    width: 1.72rem;
    height: .66rem;
    top: 6.45rem;
    left: 3.5rem;
}
.pageTwo img:nth-child(17){
    width:6.4rem;
    height: .16rem;
    top: 7.4rem;
}
/*04*/
.pageTwo img:nth-child(18){
    width: .7rem;
    height: .46rem;
    top: 8rem;
    left: 4rem
}
.pageTwo img:nth-child(19){
    width: .3rem;
    height: .38rem;
    top: 8rem;
    left: 3.5rem;
}
.pageTwo img:nth-child(20){
    width: 1.72rem;
    height: .66rem;
    top: 7.85rem;
    left: 1.4rem;
}
.pageTwo img:nth-child(21){
    width:6.4rem;
    height: .16rem;
    top: 8.8rem;
}
.pageTwo span:nth-of-type(1){
    z-index: 99;
    font-size: .34rem;
    font-weight: 300;
    height: .3rem;
    top: 3.93rem;
    left: 3.7rem;
    color: #FFFFFF;
}
.pageTwo span:nth-of-type(3){
    z-index: 99;
    font-size: .34rem;
    font-weight: 300;
    height: .3rem;
    top: 6.6rem;
    left: 3.7rem;
    color: #FFFFFF;
}
.pageTwo span:nth-of-type(2){
    z-index: 99;
    font-size: .34rem;
    font-weight: 300;
    height: .3rem;
    top: 5.2rem;
    left: 1.6rem;
    color: #FFFFFF;
}
.pageTwo span:nth-of-type(4){
    z-index: 99;
    font-size: .34rem;
    font-weight: 300;
    height: .3rem;
    top: 7.99rem;
    left: 1.6rem;
    color: #FFFFFF;
}
#page2 img:nth-child(1) {
    -webkit-animation: audioMove 3s  infinite;
    animation: audioMove 3s  infinite;
}
#page2 img:nth-child(2) {
    -webkit-animation: bounceIn 1s both;
    animation: bounceIn 1s both;
}
#page2 img:nth-child(3) {
    -webkit-animation: fadeInLeft 1s both;
    animation: fadeInLeft 1s both;
}
#page2 img:nth-child(4) {
     -webkit-animation: fadeInRight 1s both;
     animation: fadeInRight 1s both;
 }
#page2 img:nth-child(6) {
    -webkit-animation: bounceIn 1s .4s both;
    animation: bounceIn 1s .4s both;
}
#page2 img:nth-child(7) {
    -webkit-animation: fadeInLeft 1s .5s both;
    animation: fadeInLeft 1s .5s both;
}
#page2 img:nth-child(10) {
    -webkit-animation: bounceIn 1s .4s both;
    animation: bounceIn 1s .4s both;
}
#page2 img:nth-child(11) {
    -webkit-animation: fadeInRight 1s .5s both;
    animation: fadeInRight 1s .5s both;
}
#page2 img:nth-child(14) {
    -webkit-animation: bounceIn 1s .4s both;
    animation: bounceIn 1s .4s both;
}
#page2 img:nth-child(15) {
    -webkit-animation: fadeInLeft 1s .5s both;
    animation: fadeInLeft 1s .5s both;
}
#page2 img:nth-child(18) {
    -webkit-animation: bounceIn 1s .4s both;
    animation: bounceIn 1s .4s both;
}
#page2 img:nth-child(19) {
    -webkit-animation: fadeInRight 1s .5s both;
    animation: fadeInRight 1s .5s both;
}



/*第三页样式*/
.pageThr img:nth-child(1){
    width:2.3rem;
    height: .68rem;
    top: 2.5rem;
    left: 2.1rem;
}
.pageThr img:nth-child(2){
    width:5.68rem;
    height: 6.44rem;
    top: 3.8rem;
    left: 50%;
    margin-left: -2.84rem;
}
.pageThr img:nth-child(3){
    width:2.52rem;
    height: .68rem;
    top: 4.5rem;
    left: 50%;
    margin-left: -1.26rem;
}
.pageThr img:nth-child(4){
    width:.7rem;
    height: .38rem;
    top: 4.63rem;
    left: 50%;
    margin-left:.91rem;
}
.pageThr img:nth-child(5){
    width:.7rem;
    height: .38rem;
    top: 4.63rem;
    left: 50%;
    margin-left: -1.7rem;
}
.pageThr img:nth-child(6){
    width:4.36rem;
    height: .54rem;
    top: 5.7rem;
    left: 50%;
    margin-left: -2.2rem;
}
.pageThr img:nth-child(7){
    width:4.36rem;
    height: .54rem;
    top: 6.5rem;
    left: 50%;
    margin-left: -2.2rem;
}
.pageThr img:nth-child(8){
    width:4.36rem;
    height: .54rem;
    top: 7.4rem;
    left: 50%;
    margin-left: -2.2rem;
}
.pageThr img:nth-child(9){
    width:4.36rem;
    height: .54rem;
    top: 8.3rem;
    left: 50%;
    margin-left: -2.2rem;
}
.pageThr img:nth-child(10){
    width:4.36rem;
    height: .54rem;
    top: 9.2rem;
    left: 50%;
    margin-left: -2.2rem;
}
.pageThr span:nth-of-type(1){
    z-index: 99;
    font-size: .44rem;
    font-weight: 300;
    height: .3rem;
    top: 2.6rem;
    left: 2.35rem;
    color: #ffffff;
}
.pageThr span:nth-of-type(2){
    z-index: 99;
    font-size: .34rem;
    font-weight: 300;
    height: .3rem;
    top: 3.3rem;
    left: 2.6rem;
    color: #ffffff;
}
.pageThr span:nth-of-type(3){
    z-index: 99;
    font-size: .57rem;
    font-weight: 500;
    height: .3rem;
    top: 4.5rem;
    left: 2.6rem;
    color: #000000;
}
.pageThr span:nth-of-type(4){
    z-index: 99;
    font-size: .3rem;
    font-weight: 100;
    height: .3rem;
    top: 5.25rem;
    left: 2.4rem;
    color: #000000;
}
.pageThr span:nth-of-type(5){
    z-index: 99;
    font-size: .3rem;
    font-weight: 100;
    height: .3rem;
    top: 5.8rem;
    left: 1.5rem;
    color: #000000;
}
.pageThr span:nth-of-type(6){
    z-index: 99;
    font-size: .3rem;
    font-weight: 100;
    height: .3rem;
    top: 6.6rem;
    left: 1.5rem;
    color: #000000;
}
.pageThr span:nth-of-type(7){
    z-index: 99;
    font-size: .3rem;
    font-weight: 100;
    height: .3rem;
    top: 7.5rem;
    left: 1.5rem;
    color: #000000;
}
.pageThr span:nth-of-type(8){
    z-index: 99;
    font-size: .3rem;
    font-weight: 100;
    height: .3rem;
    top: 8.4rem;
    left: 1.5rem;
    color: #000000;
}
.pageThr span:nth-of-type(9){
    z-index: 99;
    font-size: .3rem;
    font-weight: 100;
    height: .3rem;
    top: 9.3rem;
    left: 1.5rem;
    color: #000000;
}
#page3 img:nth-child(1) {
    -webkit-animation: rotateIn 1s both;
    animation: rotateIn 1s both;
}
#page3 img:nth-child(2) {
    -webkit-animation: bounceInUp 1s .4s both;
    animation: bounceInUp 1s .4s both;
}
#page3 img:nth-child(3) {
    -webkit-animation: zoomIn 1s .7s both;
    animation: zoomIn 1s .7s both;
}
#page3 img:nth-child(4) {
    -webkit-animation: fadeIn 1s .8s both;
    animation: fadeIn 1s .8s both;
}
#page3 img:nth-child(5) {
    -webkit-animation: fadeIn 1s .8s both;
    animation: fadeIn 1s .8s both;
}

#page3 img:nth-child(6) {
    -webkit-animation: bounceInUp 1s .7s both;
    animation: bounceInUp 1s .7s both;
}
#page3 img:nth-child(7) {
    -webkit-animation: bounceInUp 1s .8s both;
    animation: bounceInUp 1s .8s both;
}
#page3 img:nth-child(8) {
    -webkit-animation: bounceInUp 1s .9s both;
    animation: bounceInUp 1s .9s both;
}
#page3 img:nth-child(9) {
    -webkit-animation: bounceInUp 1s 1s both;
    animation: bounceInUp 1s 1s both;
}
#page3 img:nth-child(10) {
    -webkit-animation: bounceInUp 1s 1.1s both;
    animation: bounceInUp 1s 1.1s both;
}
#page3 span:nth-of-type(1){
    -webkit-animation: fadeIn 1s .8s both;
    animation: fadeIn 1s .8s both;
}
#page3 span:nth-of-type(2){
    -webkit-animation: fadeIn 1s .8s both;
    animation: fadeIn 1s .8s both;
}

#page3 span:nth-of-type(3){
    -webkit-animation: fadeIn 1s .8s both;
    animation: fadeIn 1s .8s both;
}
#page3 span:nth-of-type(4){
    -webkit-animation: fadeIn 1s .8s both;
    animation: fadeIn 1s .8s both;
}
#page3 span:nth-of-type(5){
    -webkit-animation: fadeIn 1s .8s both;
    animation: fadeIn 1s .8s both;
}
#page3 span:nth-of-type(6){
    -webkit-animation: fadeIn 1s .8s both;
    animation: fadeIn 1s .8s both;
}
#page3 span:nth-of-type(7){
    -webkit-animation: fadeIn 1s .8s both;
    animation: fadeIn 1s .8s both;
}
#page3 span:nth-of-type(8){
    -webkit-animation: fadeIn 1s .8s both;
    animation: fadeIn 1s .8s both;
}
#page3 span:nth-of-type(9){
    -webkit-animation: fadeIn 1s .8s both;
    animation: fadeIn 1s .8s both;
}


/*第四页样式*/
.pageFou img:nth-child(1){
    width:2.3rem;
    height: .68rem;
    top: 2.5rem;
    left: 2.1rem;
}
.pageFou img:nth-child(2){
    width:2.86rem;
    height: 2.86rem;
    top: 4.3rem;
    left: 50%;
    margin-left: -1.43rem;
}
.pageFou img:nth-child(3){
    width:2.9rem;
    height: .48rem;
    top: 8rem;
    left: 50%;
    margin-left: -1.45rem;
}
.pageFou img:nth-child(4){
    width:2.9rem;
    height: .48rem;
    top: 9rem;
    left: 50%;
    margin-left: -1.45rem;
}
.pageFou img:nth-child(5){
    width:6rem;
    height: .35rem;
    top: 9.8rem;
    left: 50%;
    margin-left: -3rem;
}
.pageFou span:nth-of-type(1){
    z-index: 99;
    font-size: .44rem;
    font-weight: 300;
    height: .3rem;
    top: 2.6rem;
    left: 2.35rem;
    color: #ffffff;
}
.pageFou span:nth-of-type(2){
    z-index: 99;
    font-size: .34rem;
    font-weight: 300;
    height: .3rem;
    top: 3.5rem;
    left: 2.45rem;
    color: #ffffff;
}
.pageFou span:nth-of-type(3){
    z-index: 99;
    font-size: .3rem;
    font-weight: 100;
    height: .3rem;
    top: 7.2rem;
    left: 1.8rem;
    color: #ffffff;
}
.pageFou span:nth-of-type(4){
    z-index: 99;
    font-size: .28rem;
    font-weight: 100;
    height: .3rem;
    top: 8.1rem;
    left: 1.9rem;
    color: #ffffff;
}
.pageFou span:nth-of-type(5){
    z-index: 99;
    font-size: .28rem;
    font-weight: 100;
    height: .3rem;
    top: 9.1rem;
    left: 2.1rem;
    color: #ffffff;
}
#page4 img:nth-child(1) {
    -webkit-animation: rotateIn 1s both;
    animation: rotateIn 1s both;
}
#page4 img:nth-child(2) {
    -webkit-animation: bounceInUp 1s both;
    animation: bounceInUp 1s both;
}
#page4 img:nth-child(3) {
    -webkit-animation: bounceInUp 1s both;
    animation: bounceInUp 1s both;
}
#page4 img:nth-child(4) {
    -webkit-animation: bounceInUp 1s both;
    animation: bounceInUp 1s both;
}
#page4 span:nth-of-type(1){
    -webkit-animation: fadeIn 1s .4s both;
    animation: fadeIn 1s .4s both;
}
#page4 span:nth-of-type(2){
    -webkit-animation: fadeIn 1s .4s both;
    animation: fadeIn 1s .4s both;
}
#page4 span:nth-of-type(3){
    -webkit-animation: fadeIn 1s .4s both;
    animation: fadeIn 1s .4s both;
}
#page4 span:nth-of-type(4){
    -webkit-animation: fadeIn 1s .4s both;
    animation: fadeIn 1s .4s both;
}
#page4 span:nth-of-type(5){
    -webkit-animation: fadeIn 1s .4s both;
    animation: fadeIn 1s .4s both;
}







@-webkit-keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}
@-webkit-keyframes flipInY {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes flipInY {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}
@-webkit-keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@-webkit-keyframes rotateIn {
    from {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }

    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes rotateIn {
    from {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }

    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}




